<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Decription">
    <link rel="canonical" href="https://kkb00713.github.io//"><link rel="alternate" type="application/rss+xml" title="Game Lover&#39;s V-LOG" href="https://kkb00714.github.io/feed.xml"><!-- start favicons snippet, use https://realfavicongenerator.net/ --><link rel="apple-touch-icon" sizes="180x180" href="https://kkb00714.github.io/assets/apple-touch-icon.png"><link rel="icon" type="image/png" sizes="32x32" href="https://kkb00714.github.io/assets/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="https://kkb00714.github.io/assets/favicon-16x16.png"><link rel="manifest" href="https://kkb00714.github.io/assets/site.webmanifest"><link rel="mask-icon" href="https://kkb00714.github.io/assets/safari-pinned-tab.svg" color="#fc4d50"><link rel="shortcut icon" href="https://kkb00714.github.io/assets/favicon.ico">

    {# block 1 #}
    <title>{% block title %} <h1>Game Lover's V-LOG {% endblock %}</h1> </title>


    {# block 2 #}
<body>
{% block content %}

<h1>장고 프로젝트_게임 블로그 만들기!!!</h1>


<link rel="stylesheet" href="./홈 - Game Lover&#39;s V-LOG_files/main.css"><link rel="stylesheet" href="./홈 - Game Lover&#39;s V-LOG_files/all.css">

<a title="Decription"
   href="https://kkb00714.github.io/">Game Lover's V-LOG</a></div>
          <button class="button button--secondary button--circle search-button js-search-toggle">
          <i class="fas fa-search"></i></button></div>
          <nav class="navigation">
          <ul>
              <li class="navigation__item"><a href="https://kkb00714.github.io/archive.html">아카이브</a></li>
              <li class="navigation__item"><a href="https://kkb00714.github.io/about.html">소개</a></li>
              <li><button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button></li>
          </ul>
          </nav>
</div>
  </header>
</div><div class="page__content"><div class="main"><div class="grid grid--reverse">

              <div class="col-aside d-print-none js-col-aside"></div>

              <div class="col-main cell cell--auto"><!-- start custom main top snippet -->

<!-- end custom main top snippet -->
<article itemscope="" itemtype="http://schema.org/WebPage">
    <header style="display:none;"><h1>홈</h1></header><meta itemprop="headline" content="홈">
    <meta itemprop="author" content="Your Name">
    <div class="js-article-content">
    <div class="layout--articles">
    <div class="article-list items items--divided">
    <article class="item" itemscope="" itemtype="http://schema.org/BlogPosting">
    <div class="item__content">
    <header><a href="https://kkb00714.github.io/2020/06/04/4th.html">
        <h2 itemprop="headline" class="item__header">네번째 포스트 / 7Days to die</h2></a></header>
    <div class="item__description"><div class="article__content" itemprop="description articleBody">7Days to die (Steam)



    </div><p><a href="https://kkb00714.github.io/2020/06/04/4th.html">더보기</a></p></div><div class="article__info clearfix"><ul class="left-col menu"><li>

            <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=4th_Post">4th_Post</a>
            </li><li>

            <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=Steam">Steam</a>
            </li><li>

            <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=7Days+to+die">7Days to die</a>
            </li><li>

            <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=GameLover">GameLover</a>
            </li><li>

            <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=%EC%84%B8%EB%B8%90%EC%A6%88+%ED%88%AC+%EB%8B%A4%EC%9D%B4">세븐즈 투 다이</a>
            </li></ul><ul class="right-col menu"><li><i class="far fa-calendar-alt"></i> <span>2020년 06월 04일</span>

            </li></ul></div><meta itemprop="author" content="Your Name"><meta itemprop="datePublished" content="2020-06-04T00:00:00+09:00">

</article>
    <article class="item" itemscope="" itemtype="http://schema.org/BlogPosting"><div class="item__content">

        <header><a href="https://kkb00714.github.io/2020/06/03/third.html"><h2 itemprop="headline" class="item__header">[HOT!!]세번째 포스트 / Tales_Runner</h2></a></header>

        <div class="item__description"><div class="article__content" itemprop="description articleBody">Tales Runner (테일즈런너)

                <p>내용 미리보기: </p>
                <br>
                <br>
                (출처: 네이버 검색, https://search.naver.com/search.naver?sm=top_hty&amp;fbm=1&amp;ie=utf8&amp;query=%ED%85%8C%EC%9D%BC%EC%A6%88%EB%9F%B0%EB%84%88 ) <br>
                테일즈런너는 2005년에 ‘라온 엔터테인먼트’가 개발한 게임으로, 현재는 스마일게이트 메가포트에서 서비스하고 있습니다. <br>
                여러가지 동화세계의 이야기를 게임 맵으로 제작하여 레이싱 게임처럼 직접 경험해볼 수 있습니다. <br>

        </div><p><a href="https://kkb00714.github.io/2020/06/03/third.html">더보기</a></p></div><div class="article__info clearfix"><ul class="left-col menu"><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=Third_Post">Third_Post</a>
        </li><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=Stove">Stove</a>
        </li><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=Tales_Runner">Tales_Runner</a>
        </li><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=%ED%85%8C%EC%9D%BC%EC%A6%88%EB%9F%B0%EB%84%88">테일즈런너</a>
        </li><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=v%EC%95%84%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%B8%8Cv">v아이브러브v</a>
        </li><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=%ED%85%8C%EB%9F%B0">테런</a>
        </li></ul><ul class="right-col menu"><li><i class="far fa-calendar-alt"></i> <span>2020년 06월 03일</span>

        </li></ul></div><meta itemprop="author" content="Your Name"><meta itemprop="datePublished" content="2020-06-03T00:00:00+09:00">

</article>

<article class="item" itemscope="" itemtype="http://schema.org/BlogPosting"><div class="item__content">

    <header><a href="https://kkb00714.github.io/2020/06/02/second.html"><h2 itemprop="headline" class="item__header">두번째 포스트 / Terraria</h2></a></header>
    <div class="item__description"><div class="article__content" itemprop="description articleBody">Terraria (Steam)

        <p>내용 미리보기 : </p>
        <br>
        <br>
        테라리아는 2011년 5월에 Re-Logic 사에서 발매한 2D 샌드박스 게임으로, MOJANG사의 마인크래프트와 비슷한 게임입니다.<br>
        그러나 테라리아는 테라리아만의 재미를 느낄 수 있는 포인트가 따로 있는데, 바로 난이도입니다.<br>
        난이도는 저니모드(쉬움), 소프트코어(보통), 전문가모드(어려움), 마스터모드(매우 어려움) 으로 나뉩니다.<br>

    </div>

        <p><a href="https://kkb00714.github.io/2020/06/02/second.html">더보기</a></p></div><div class="article__info clearfix"><ul class="left-col menu"><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=Second_Post">Second_Post</a>
        </li><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=Steam">Steam</a>
        </li><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=Terraria">Terraria</a>
        </li><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=GameLover">GameLover</a>

        </li></ul><ul class="right-col menu"><li><i class="far fa-calendar-alt"></i> <span>2020년 06월 02일</span>

        </li></ul></div><meta itemprop="author" content="Your Name"><meta itemprop="datePublished" content="2020-06-02T00:00:00+09:00">

</article>

<article class="item" itemscope="" itemtype="http://schema.org/BlogPosting"><div class="item__content">

    <header><a href="https://kkb00714.github.io/2020/06/01/first-post.html"><h2 itemprop="headline" class="item__header">☆ GAME LOVER'S V-LOG GRAND-OPEN ☆</h2></a></header>

    <div class="item__description">
        <div class="article__content" itemprop="description articleBody">

            <p>내용 미리보기: </p>
            <br>
            <br>
            안녕하세요, 이벤트 참가자 v아이브러브v 입니다!<br>
            저는 ‘웹 프로그래밍’ 강의를 수강중인 학생입니다. <br>
            이번 기회에 게임 UCC에 참가도 하고, 과제로도 제출하기 위해 이 블로그를 만들었습니다!<br>

        </div><p><a href="https://kkb00714.github.io/2020/06/01/first-post.html">더보기</a></p>

    </div>

    <div class="article__info clearfix"><ul class="left-col menu"><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=Game_Lover">Game_Lover</a>
        </li><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=Steam">Steam</a>
        </li><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=Nexon">Nexon</a>
        </li><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=Stove">Stove</a>
        </li><li>

        <a class="button button--secondary button--pill button--sm" href="https://kkb00714.github.io/archive.html?tag=v%EC%95%84%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%B8%8Cv">v아이브러브v</a>

        </li></ul><ul class="right-col menu"><li><i class="far fa-calendar-alt"></i> <span>2020년 06월 01일</span>

        </li></ul></div><meta itemprop="author" content="Your Name"><meta itemprop="datePublished" content="2020-06-01T00:00:00+09:00">

</article></div>

</div><div class="layout--home"></div>

        <div>© Game Lover's V-LOG 2020 </div>

<div class="search search--dark">

  <div class="main">

    <div class="search__header">검색</div>

    <div class="search-bar">

      <div class="search-box js-search-box">

        <div class="search-box__icon-search">
            <i class="fas fa-search"></i></div>
        <input type="text" class="focus">

        <div class="search-box__icon-clear js-icon-clear">

          <a><i class="fas fa-times"></i></a>

        </div>

      </div>

      <button class="button button--theme-dark button--pill search__cancel js-search-toggle">취소</button>

    </div>

    <div class="search-result js-search-result"></div>

  </div>

</div>

{% endblock %}

</body>
</html>